@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

.App {
  padding: 50px 80px 45px 80px;
  font-family: 'Inter', sans-serif;
}
.tabs {
  display: flex;
  column-gap: 20px;
  
  align-items: center;
}
.tab {
  background-color: #F0F0F0;
  border: none;
  width: 85px;
  height: 40px;
  border-radius: 25px;
  cursor: pointer;
}

.active {
  background-color: #081E346B;
  color: white;
  font-weight: bold;
}
.tabs-plus {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}
.add-button {
  cursor: pointer;
  border: none;
  background-color: white
}
.modal {
  display: flex;
  flex-direction: column;
  margin-top: -60%;
  margin-right: 7%;
  width: 268px;
  height: 250px;
  background-color: #E4E6E7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
  border-radius: 12px;
}
.modal-content {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin: 16px;
}
.input-todo {
  height: 120px;
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  border-radius: 8px;
  padding: 10px;
}
.add-todo-button {
  width: 80px;
  height: 40px;
  background-color: #081E34;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.title {
  padding-bottom: 20px;
  border-bottom: 1px solid #444444;
}
.todo-list {
  display: flex;
  align-items: center;
}
.more-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.modal-delete {
  width: 240px;
  background-color: #E4E6E7;
  position: absolute;
  z-index: 9999;
  border-radius: 15px;
  padding: 12px 0px 12px 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
}
.modal-delete-content {
  display: flex;
  column-gap: 5px;
  align-items: center;
  
}
p{
  margin: 0;
  font-size: 14px;
}
.trash-button {
  border: none;
  background-color: #E4E6E7;
  margin-left: 5px;
  cursor: pointer;
}
.more-button {
  border: none;
  background-color: white;
  padding: 0;
}
.modal-delete-trash {
  width: 240px;
  background-color: #E4E6E7;
  position: absolute;
  z-index: 9999;
  border-radius: 15px;
  padding: 12px 0px 12px 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
}
.modal-delete-trash-content {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.options {
  display: flex;
}


.footer{
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 500;
  margin-top: 200px;
}